<% if user_signed_in? %>
  Logged in as <%= current_user.email %>.
  <div><%= link_to 'Edit profile', edit_user_registration_path %></div>
  <div><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></div> 
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
<ul class='users-list'>
<% @users.each do |user| %>
  <li>
  <%link = "users/#{user.id}"%>
  <a href=<%=link%>>
<%= render partial: "username", locals: { user: user } %>
</a>
</li>
<% end %>
</ul>
