<%= render partial: "username", locals: { user: @user } %>
<div>
<h3>Bio</h3>
<p><%=@user.bio%></p>
</div>
<ul class='user-posts'>
<% @user.posts.each_with_index do |post, index| %>
  <li>
  <h4>Post #<%=index + 1%></h4>
  <p><%=post.text%></p>
  <span>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
  </li>
<% end %>
</ul>