<%= render partial: "username", locals: { user: @user } %>
<div>
<h3>Bio</h3>
<p><%=@user.bio%></p>
</div>
<ul class='user-posts'>
<% @user.three_recent_posts.each_with_index do |post| %>
  <li>
  <a  href=<%="#{@user.id}/posts/#{post.id}"%>><%=post.title%></a>
  <h4>Post #<%=post.id%></h4>
  <p><%=post.text%></p>
  <span>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
  </li>
<% end %>
<%link = "#{@user.id}/posts"%>
<button><a href=<%=link%>>Show All Posts</a></button>
</ul>